body {
  font-family: 'Roboto Mono', monospace;
}

p {
  font-family: 'Roboto Mono', monospace;
}

.highlight,
h3 {
  background-color: yellow;
  color: #27262b;
}

a {
  color: #ed1e79;
}

h3 code {
  background-color: #ed1e79;
  border-color: #ed1e79;
}

.highlighter-rouge > div.highlight {
  background-color: transparent;
}

h2.exercise-title {
  background-color: yellow;
  color: #27262b;
}
