body{
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

#headerContainer{
  height: 50px;
  display: block;
  position: relative;
  width: 100%;
  z-index: 100;
  background-color: #5d35e8;
}

#MLTKControls{
  padding-top: 14px;
  color: white;
}

#MLTKControls button{
  background-color: #ffE970;
  border: none;
  height: 30px;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: -15px;
}

#MLTKControls .title{
  display: inline-block;
  margin: 0px 10px;
}
#MLTKControls .statusMsg{
  display: inline-block;
  margin: 0px 10px;
}

#sketchContainer{
  padding-top: 50px;
  display: block;
  position: relative;
}

/* .panel{
  display: inline-block;
} */

.panel{
  padding: 10px;
}

#mltkPanel{

}

.data{
  width: 100%;
  display: block;
}
.dataContainer{
  display: inline-flex;
  width: 11%;
  border: 1px solid black;
  height: auto;
}

.data-panel{
  display: inline-flex;
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid black;
  padding: 0px;
  width: 100%;
  min-width: 150px;
}

.data-panel .label{
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  float: left;
}

.data-panel .value{
  margin-top: 25px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  width: 100%;
}
