body{
  font-family: sans-serif;
}

#MLTKControls{
  height: 50px;
  background-color: #5d35e8;
  margin: 0px;
  padding-top: 14px;
  display: block;
  position: fixed;
  width: 100%;
  color: white;
}
#MLTKControls button{
  background-color: #ffE970;
  border: none;
  height: 30px;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: -15px;
}

#MLTKControls .title{
  display: inline-block;
  margin: 0px 10px;
}
#MLTKControls .statusMsg{
  display: inline-block;
  margin: 0px 10px;
}

.panel{
  display: inline-block;
}
.data{
  width: 100%;
  display: block;
}
.dataContainer{
  display: inline-flex;
  width: 11%;
  border: 1px solid black;
  height: auto;
}

#trainingData{
  width: 100%;
}

#pinoPanel{
  width: 100%;
  position: relative;
  height: 50px;
  top: 0px;
  right:0px;
  background-color: #fafafa;
  padding: 10px;
}

.data-panel{
  display: inline-flex;
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
  width: auto;
  min-width: 150px;
}

.data-panel .label{
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  float: left;
}

.data-panel .value{
  margin-top: 25px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  width: 100%;
}
